@import  "../../variables.scss";


.main-container{
    overflow-y: auto;
}

.main-container.desktop,.main-container.laptop{
    .center-container{
        background-color: $bg-color;
        width: 80%;
        padding: 20px;
        overflow-y: auto;
    }
}

