@import  "../../../variables.scss";

.exp-contianer{
    display: flex;
    width: calc(100% - 80px);
    padding: 40px 20px;
    align-items: center;
    flex-direction: column;
    background: $linear-bg;
    margin: 20px;
    .title-exp{
        width: 200px;
        background: $linear-bg;
        border: 1px solid $color-dark;
        box-shadow: 4px 4px 4px 0 $shadow;
        font-size: 1.6em;
        border-radius: 10px;
        padding: 10px;
        color: $color-white;
        display: flex;
        flex-direction: column;
        svg{
            padding: 10px 0 5px 0;
        }
    }

    .vertical{
        height: 12vh;
        width: 2px;
        background-color: $color-dark;
        border-radius: 20px;
    }

    .experience{
        color: $color-white;
        position: relative;
        background: $linear-bg;
        border: 1px solid $color-dark;
        box-shadow: 4px 4px 4px 0 $shadow;
        width: 40%;
        padding: 20px;
        .exp-info{
            .date{
                float: right;
                color: $color-dark;
            }
            .work-title{
                font-size: 2rem;
                
            }
            .location{
                color: $color-dark;
                padding: 5px 0;
                .company{
                    font-size: bold;
                    font-size: 1.2rem;
                }
            }
            .work-info{
                width: calc(100% - 40px);
                line-height: 20px;
                font-size: 16px;
            }

        }
    }

}

.main-container.laptop{
    .center-container{
        .experience{
            .exp-contianer{
                .experience{
                    width: 65%;
                }
            }
        }
        
    }
}

