@import "./variables.scss";

.main-container {
  display: flex;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  transition: 0.55s ease-in-out;
}

body{
  background: $bg-color;
}

.main-container.expendMenu{
  transition: 0.55s ease-in-out;
  .sidebar-container{
    position: relative;
    left: -20%;
    width: 0%;
  }
  .header-container{
    width: 20%;

  }
}


.main-container.tablet,.main-container.mobile{
  display: flex;
  flex-direction: column;
}