.main-container {
  display: grid;
  grid-template-columns: 20% 75% 5%;
  grid-row: auto;
  height: 100vh;
  align-items: stretch;
  overflow: hidden;
}

.main-container.expendMenu{
  transition: 1.55s ease-in-out;
  grid-template-columns: 0% 75% 25%;
}