@import  "../../../variables.scss";


.projects-container {
    display: flex;
    width: calc(100% - 80px);
    padding: 40px 20px;
    align-items: center;
    flex-direction: column;
    background: linear-gradient(159deg, rgba(37, 37, 50, 0.9803921569) 0%, rgba(35, 35, 45, 0.9803921569) 100%);
    margin: 20px;
    .title{
        color: $color-white;
        font-size: 1.8em;
    }
    .project-filter{
        width: 80%;
        text-align: center;
        margin: 20px 0;
        font-size: 1.5rem;

        .ctg{
            padding: 0 20px;
            color: $color-dark;
            cursor: pointer;
            &:hover{
                color: $color-white;
            }
        }
      
    }
    .projects-list{
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: auto;
        padding: 50px 0;
        gap: 20px;
        .project-box{
            width: calc(30% - 40px);
            height: 250px;
            background-color: $bg-color;
            padding: 15px;
            border-radius: 5px;
            cursor: pointer;
            img {
                position: relative;
                width: 100%;
                border-radius: 5px;
                height: calc(100% - 50px);
                display: flex;
                bottom: 0;
                transition: 0.25s ease-out;
            }
            .pro-title{
                color: $color-white;
                height: calc(100% - 200px);
                width: 100%;
                font-size: 1.4em;
                display: flex;
                align-items: center;
            }

            &:hover{
                img{
                    bottom: 14%;
                }
            }
        }
    }
}

.main-container.laptop{
    .center-container{
        padding: 0;
        .projects{
            .projects-container{
                .projects-list{
                    .project-box{
                        width: calc(50% - 40px);
                    }
                }
            }
        }
        
    }
}