@import  "../../../variables.scss";


.divider{
    background: $color-dark;
    width: 100%;
    height: 1px;
    opacity: 0.3;
}



.project-container{
    display: flex;
    width: calc(80% - 40px);
    padding:  20px;
    margin: 20px;
    align-items: center;
    flex-direction: column;
    background: $linear-bg;
    overflow-y: auto;
    .info-container{
        width: 100%;
        .close-container{
            float: right;
            background-color: $bg-color;
            border-radius: 20px;
            box-shadow: inset 2px 2px 4px 0 $color-dark;
            color: $color-dark;
            padding: 8px 13px;
            transition: all 0.3s ease;
            cursor: pointer;

            &:hover{
                box-shadow: inset 0px 0px 4px 4px $shadow;
            }
        }
        .project-title{
            display: flex;
            margin: 20px 10px;
            flex-direction: column;
            color: $color-white;
            .title{
                font-size: 2rem;
                margin: 15px 0px;
            }
            .category-container{

            }
            .category-name{
                color: $color-dark;
            }
        }

        .project-info{
            margin: 20px 10px;
            display: flex;
            .project-about{
               width: 80%;
               padding: 0 20px 0 0;
               .about {
                font-size: 1.6rem;
                color: $color-white;
                padding-bottom: 10px;
            }
            .about-text{
                color: $color-dark;
               }
            }
            .project-info-details{
                width: 20%;
                display: flex;
                flex-direction: column;

            }
            .project-info-details{
                .project-info-text{
                    font-size: 1.2rem;
                    color: $color-white;
                }
                .sub-info{
                    font-size: 1.0rem;
                    .path{
                        .url{
                            color: $color-dark;
                            text-decoration: none;
                            cursor: pointer;
                            &:hover{
                                color: $color-white;
                                text-decoration: underline;
                            }
                        }
                    }
                    .sub{
                        color: $color-dark;
                        span{
                            color: $color-white;
                        }
                    }
                }
            }
        }
    }
    .project-view{
        width: 100%;
        user-select: none;
        .device-container{
            width: 100%;
            display: flex;
            justify-content: center;
            flex-direction: row;
            .device-list{
                display: flex;
                width: 40%;
                margin: 20px;
                flex-direction: row;
                justify-content: space-around;
                .device{
                    width: 5rem;
                    height: 3rem;
                    background: $bg-color;
                    border-radius: 5px;
                    color: $color-dark;
                    border: 1px solid $color-dark;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    align-content: center;
                    transition: all 0.3s ease;
                    cursor: pointer;
                    svg{
                        height: 1.6rem;
                    }
                    &:hover{
                        color: $color-white;
                        border: 1px solid $color-white;
                    }
                }
            }
        }

        .img-container.desktop {
            img{
                width: calc(100% - 250px);
                height: calc(100% - 250px);
                padding: 20px;
                background-color: $bg-color;
                border-radius: 20px;
            }
        }
        .img-container.tablet {
            img{
                width: calc(100% - 60%);
                height: calc(100% - 250px);
                padding: 20px;
                background-color: $bg-color;
                border-radius: 20px;
            }
        }
        .img-container.mobile {
            img{
                width: calc(100% - 75%);
                height: calc(100% - 250px);
                padding: 20px;
                background-color: $bg-color;
                border-radius: 20px;
            }
        }

        .img-container{
            width: 100%;
            height: fit-content;
            margin: 40px 0;
            display: flex;
            justify-content: space-evenly;
            align-items: center;
            .left{

                svg{
                    width: 30px;
                    height: 100%;
                    padding: 10px;
                    background-color: $bg-color;
                    border-radius: 20px;
                    box-shadow: inset 1px 1px 4px 0 $color-dark;
                    color: $color-dark;
                    cursor: pointer;
                    &:hover{
                        box-shadow: inset 0px 0px 4px 4px $shadow;
                    }
                }
            }
            .right{
                svg{
                    width: 30px;
                    height: 100%;
                    padding: 10px;
                    background-color: $bg-color;
                    border-radius: 20px;
                    box-shadow: inset 1px 1px 4px 0 $color-dark;
                    color: $color-dark;
                    cursor: pointer;
                    &:hover{
                        box-shadow: inset 0px 0px 4px 4px $shadow;
                    }
                } 
            }
        }
        
    }
}

.main-container.tablet{
    .project-container{
        width: calc(100% - 80px);
    }
}

.main-container.mobile{
    .swiper-button-next, .swiper-rtl .swiper-button-prev, .swiper-button-prev, .swiper-rtl .swiper-button-next{
        display: none;
    }
    .project-container{
        margin: 0;
        width: calc(100% - 40px);
        .info-container{
            .project-info{
                flex-direction: column-reverse;
                .project-info-details{
                    width: 100%;
                    margin-bottom: 20px;
                }
            }
        }
        .project-view{
            .device-container{
                .device-list{
                    width: 100%;
                }
            }

            .img-container.desktop {
                img{
                    width: calc(100% - 10px);
                    height: calc(100% - 250px);
                    padding: 20px;
                    background-color: $bg-color;
                    border-radius: 20px;
                }
            }
            .img-container.tablet {
                img{
                    width: calc(100% - 10px);
                    height: calc(100% - 250px);
                    padding: 20px;
                    background-color: $bg-color;
                    border-radius: 20px;
                }
            }
            .img-container.mobile {
                img{
                    width: calc(100% - 60px);
                    height: calc(100% - 250px);
                    padding: 20px;
                    background-color: $bg-color;
                    border-radius: 20px;
                }
            }
        }
    }
}

.swiper-button-next, .swiper-rtl .swiper-button-prev, .swiper-button-prev, .swiper-rtl .swiper-button-next{
    right: 10px;
    left: auto;
    background: #00000040;
    padding: 20px 30px;

    border-radius: 30px;
}
.swiper-backface-hidden .swiper-slide{
    display: flex;
    justify-content: center;
    align-items: center;
}


.swiper-horizontal > .swiper-pagination-bullets .swiper-pagination-bullet, .swiper-pagination-horizontal.swiper-pagination-bullets .swiper-pagination-bullet{
    width: 25px;
    border-radius: 20px;
    height: 10px;

}
.swiper.swiper-horizontal > .swiper-pagination-bullets, .swiper-pagination-bullets.swiper-pagination-horizontal{
    bottom: unset;
    top: 0;
}

.swiper-pagination-bullets .swiper-pagination-bullet-active{
    background: $color-dark;
}