@import  "../../variables.scss";

.edu-contianer{
    display: flex;
    width: calc(100% - 80px);
    padding: 40px 20px;
    align-items: center;
    flex-direction: column;
    background: $linear-bg;
    margin: 20px;
    .title-edu{
        width: 200px;
        background: $linear-bg;
        border: 1px solid $color-dark;
        box-shadow: 4px 4px 4px 0 $shadow;
        font-size: 1.6em;
        border-radius: 10px;
        padding: 10px;
        color: $color-white;
        display: flex;
        flex-direction: column;
        text-align: center;
        svg{
            padding: 10px 0 5px 0;
        }
    }

    .vertical{
        height: 12vh;
        width: 2px;
        background-color: $color-dark;
        border-radius: 20px;
    }

    .education-center{
        display: flex;
        flex-direction: column;
        align-items: center;
        .education{
            color: $color-white;
            position: relative;
            background: $linear-bg;
            border: 1px solid $color-dark;
            box-shadow: 4px 4px 4px 0 $shadow;
            width: 30vw;
            padding: 20px;
            .edu-info{
                .date{
                    float: right;
                    color: $color-dark;
                }
                .edu-title{
                    font-size: 1.5rem;
                    
                }
                .location{
                    color: $color-dark;
                    padding: 5px 0;
                    .company{
                        font-size: bold;
                        font-size: 1.2rem;
                    }
                }
                .uni-info{
                    width: calc(100% - 40px);
                    line-height: 20px;
                    font-size: 16px;
                }
    
            }
        }
    }


    
}

.main-container.laptop,.main-container.tablet{
    .center-container{
        .education{
            .edu-contianer{
                .education{
                    width: 65%;
                }
            }
        }
        
    }
}

.main-container.mobile{
    .center-container{
        .education{
            .edu-contianer{
                .education{
                    width: 90%;
                }
            }
        }
        
    }
}